.dfx/
.env
node_modules/
.DS_Store
.env.local
.env.development.local
.env.test.local
src/frontend/node_modules/
src/frontend/.svelte-kit/
src/frontend/dist


.mops
mops.toml
src/declarations/frontend/
src/frontend/src/declarations/
src/declarations/
.vscode/
backup/