// @use '../../node_modules/@dfinity/gix-components/dist/styles/global.scss';

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  max-width: 100%;
}

button[type="submit"] {
  margin: 0;
}
